# Result Environment Variables
PORT=0000
PG_HOST=""  
PG_PORT=0000 
PG_USER=""
PG_PASSWORD=""
PG_DATABASE=""


# Vote Environment Variables
FLASK_ENV=development


# Worker Environment Variables
DB_HOST=""
DB_PASSWORD=""
DB_NAME=""
REDIS_HOST=""
