version: '3.8'

services:
  worker:
    image: {{ backend_worker_image }}
    environment:
      REDIS_HOST: localhost
      DB_HOST: {{ db_host }}
      DB_NAME: {{ db_name }}
      DB_USER: {{ db_user }}
      DB_PASSWORD: {{ db_password }}
    depends_on:
      - redis
    restart: always

  redis:
    image: {{ redis_image }}
    ports:
      - "{{ redis_port }}:6379"
    restart: always
